header{
   
    background-color: black;
}

.titulo{
  
    color: #fff;
    text-transform:uppercase;
    font-style: italic;
    
}

h5{
    color: #fff;
    font-size: 1.3rem;
}
.promo-contactanos{
    
    text-decoration: none;
    color: black;
    transition: 0.4s;
    
}

.promo-contactanos:hover{
    color: blue;

}
footer{
    background: rgb(1,1,1);
    background: radial-gradient(circle, rgba(1,1,1,0.9806297387969628) 47%, rgba(0,0,0,0.9640231092436975) 95%); 
    color: #fff;
    text-transform: uppercase;
}
footer i{
    padding-left: 25px;
}



/* SECCION COMO FUNCIONA*/
#ComoFunciona{
    height: 60vh;

    font-family: 'Bebas Neue', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
   font-style:normal;

    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.ComoFunciona__box--titulo{
    height:150px;
    background: rgb(177,140,143);
    background: linear-gradient(180deg, rgba(177,140,143,1) 0%, rgba(246,250,252,1) 49%, rgba(237,222,223,1) 100%);
    
    border-bottom: solid 4px rgb(78, 78, 78);
    
    padding-top: 1rem;
    padding-left: 2rem;
    text-align:start;
   

}

.ComoFunciona__titulo{
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(29, 28, 28);
    font-size: 1.5rem;
    padding-left: 5rem;

}

.ComoFunciona__box--texto{
    height: 75vh;
    width: 100%;
    padding: 5rem;
    font-size: 16px;
    list-style: 22px;
    font-family: Arial, Helvetica, sans-serif;
    

}
.ComoFunciona__parrafo{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    text-align:start;
    font-size: 1.5rem;

    padding-left: 2.5rem;
}

.ComoFunciona__opciones{
    font-weight: bold;
    list-style: 23px;
    text-transform: none;
    
    padding-left: 2.5rem;
    padding-top: 3rem;

}

#MenuDeOpciones{
   
   
    height: 10vh;
    width:100%;
    
    
    padding-left: 2rem;

    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    font-size: 1.5rem;
    
}

#MenuDeOpciones ul li {
    display:inline-block;
    padding-right: 10px;
    margin-left: 18px;
       
}

#MenuDeOpciones ul li a {
    
    font-family: 'Bebas Neue', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
   text-decoration: none;
   color: azure;

       
}
#MenuDeOpciones li a:hover {
    color: rgb(4, 32, 56);

}
.submenu li{
    width:20vw;
    border-radius: 5px;
   
    background-color: rgb(180, 241, 88);
    text-align: center;
   font-size: 1rem;
   height: 10vh;
  padding-top:1.5rem;
   
}

#HazloTu{
    height: 120vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content:space-around;
}


.caja-titulo{
    width: 40%;
    padding: 10px;
    padding: 3rem;
  
    text-align: start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.titulo-p1{
    
    font-size: 1.3rem;
    font-weight: bold;
   

}
.texto.p2{
   
    font-size: 1rem;
  
    
}
.instrucciones{
    padding-left: 20px;
    text-align:start;
    line-height: 1.5rem;



}
.texto-p3{
    font-weight: bold;
    line-height: 1rem;
}
.HazloTu-caja-img{
    
    height:100vh;
    width: 40%;
       
}
.img-impresion{
  height: 70%;
  width: 100%;
  padding-top: 3rem;
  
   
}

#tengo-impresion{
    height: 160vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.box-contenido-modelo{
    width: 40%;
    padding: 10px;
    padding: 3rem;

    text-align: start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box-imagen-modelo{
    height:100vh;
    width: 40%;

}
.img-modelo{
    height: 70%;
    width: 40vw;
    padding-top: 3rem;
    margin-top: 6rem;
}

.titulo-h2{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    background-color:  rgb(180, 241, 88);
    text-align: center;
    padding: 10px ;
    color: azure;
    border-radius: 5px;


}

.p-titulo{
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: bold;

}
.pasos-envio{
    padding-left: 20px;
    text-align:start;
    line-height:1.5rem;
    list-style-type:decimal;

}
.linea-black{
    background-color: rgb(136, 90, 90);
    height: 10px;
}

#impresion-clinica{
    height: 100vh;
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.caja-clinica{
    width: 40%;
    padding: 10px;
    padding: 3rem;

    text-align: start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.p-texto-negrita{
    font-size: 1.2rem;
    font-weight: bold;

   margin-top:2rem;
}
.indicaciones-clinica{
    padding-left: 20px;
    text-align:start;
    list-style-type: decimal;
    line-height: 1.8rem;
    
  
}

.caja-img-clinica{
    height:100vh;
    width: 40%;
}

.img-clinica{
    height: 80%;
    width: 40vw;
    padding-top: 3rem;
    
}
#grupal{
     height: 150vh;
     
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}


.caja-contenido-grupo{
    width: 40%;
    padding: 10px;
    padding: 3rem;

    text-align: start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
.parrafo-negrita{
    font-size: 1.2rem;
    font-weight: bold;

   margin-top:2rem;
}
.indicaciones-grupo{
    padding-left: 20px;
    text-align:start;
    list-style-type: decimal;
    line-height: 1.8rem;
}
.lista-compra{
    padding-left: 20px;
    text-align:start;
    list-style-type: circle;
    line-height: 1.5rem;
}
.compra-minima{
    text-align: start; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;



}

.caja-img-grupo{
    height:100vh;
    width: 40%;
    margin-top: 3rem;

}

.img-grupo{
    height: 100%;
    width: 40vw;
}










/* SECCION PRODUCTOS*/
#Productos{
    height:20vh;

    font-family: 'Bebas Neue', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
   font-style:normal;

    display: flex;
    flex-direction: row;
    justify-content:space-between;

}
.box__NuestrosProductos{
    height: 100px;
    width: 100vw;
    padding-top:2.5rem;
    background: linear-gradient(180deg, rgba(177,140,143,1) 0%, rgba(246,250,252,1) 49%, rgba(237,222,223,1) 100%);
    
    border-bottom: solid 4px rgb(78, 78, 78);

    font-family:Arial, Helvetica, sans-serif;
    color:rgb(29, 28, 28);
    font-size: 1.rem;
    padding-left: 5rem;
}
.box__productos{
    height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.box-1{
    background-color: aqua;
    border:solid 2px black;
    height: 40vh;
    width: 30vh;

    
}

.box-2{
    background-color: aqua;
    border:solid 2px black;
    height: 40vh;
    width: 30vh; 
}
.box-3{
    background-color: aqua;
    border:solid 2px black;
    height: 40vh;
    width: 30vh; 
}

.box-4{
    background-color: aqua;
    border:solid 2px black;
    height: 40vh;
    width: 30vh; 
}
.box-5{
    background-color: aqua;
    border:solid 2px black;
    height: 40vh;
    width: 30vh; 
}
.box-6{
    background-color: aqua;
    border:solid 2px black;
    height: 40vh;
    width: 30vh; 
}

/*SECCION CONTACTO*/

#seccion-contacto{
    height: 45vh;

    font-family: 'Bebas Neue', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
   font-style:normal;

    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.formulario__box-contacto{
    height: 130px;
    background: rgb(177,140,143);
    background: linear-gradient(180deg, rgba(177,140,143,1) 0%, rgba(246,250,252,1) 49%, rgba(237,222,223,1) 100%);
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(29, 28, 28);
    font-size: 1.5rem;

    border-bottom: solid 4px rgb(78, 78, 78);
    padding-left: 5rem;


}
.seccion-contacto__contacto{
     font-family:Arial, Helvetica, sans-serif;
    color:rgb(29, 28, 28);
    font-size: 1.5rem;
    padding-top:2rem;


}
.linea-contac{
    background-color: rgb(136, 90, 90);
    height: 10px;
}
.formulario__box-titulo{
    height:20vh;
    padding-left: 2rem;

    text-align:start;
    font-size: 1.5rem;


}
.formulario__titulo{
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(29, 28, 28);
    font-size: 1.5rem;
    padding-left: 3rem;
    padding-top: 3rem;

}

.formulario__box-texto{
    height: 20vh;
    width: 100%;
    

    ;
    padding-left: 1rem;
    padding-right:6rem;

    font-size: 18px;
    list-style: 22px;
    font-family: Arial, Helvetica, sans-serif;
  
}
.box-formulario{
    height: 150vh;
    
    background-image: url(../imagen/fondo-abstrac.jpg);

    display: flex;
    display: block;
    justify-content: baseline;
}
.contenedor-formu{
    height:100vh ;
    margin-top: 70px;
   
}
form{
    height: 120vh;
    border: solid 1px rgb(43, 40, 40);
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 15px 20px;
    border-radius: 7px;
    
}
.for-conta{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: capitalize;

}

input,textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;

}
.boton-enviar{
    background:#696a6b;
    color: #fff;
    padding: 20px;
    text-transform: capitalize;
    border-radius: 3px;
}
.boton-borrar{
    color: #fff;
    text-transform: capitalize;
    background:#696a6b;
    padding: 10px;
    border-radius: 3px;
}
 label{
     color: #fff;
     text-transform: capitalize;
     padding-left: 10px;
     
 }

 .boton-enviar:hover {
     color: rgb(22, 21, 21);
 }
.boton-borrar:hover {
    color:rgb(17, 16, 16);
}